<!-- src/main/resources/templates/post/list.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 목록</title>
</head>
<body>
<h1>게시물 목록</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>제목</th>
    <th>내용</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post : ${posts}">
    <td th:text="${post.id}"></td>
    <td th:text="${post.title}"></td>
    <td th:text="${post.content}"></td>
    <td>
      <a th:href="@{'/posts/' + ${post.id}}">내용보기</a>
      <a th:href="@{'/posts/update/' + ${post.id}}">수정</a>
      <a th:href="@{'/posts/delete/' + ${post.id}}">삭제</a>
    </td>
  </tr>
  </tbody>
</table>
<a th:href="@{'/posts/create'}">게시물 작성</a>
</body>
</html>
